@import url("normalize.css");

<style>


  .penguin {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width:300px;
    height:300px;
  }
/*
  .right-cheek {
    top: 15%;
    left: 35%;
    background:white;
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .left-cheek {
    top: 15%;
    left: 5%;
    background:white;
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
  }

  .belly {
    top: 60%;
    left: 2.5%;
    background:white;
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
  }
*/
  .penguin-top {
    top: 10%;
    left: 25%;
    background:gray;
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;
    background:gray;
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
  }
/*
  .right-hand {
    top: 5%;
    left: 25%;
    background:black;
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 120% 30%;
    transform: rotate(130deg);
    z-index: -1;
    animation-duration: 3s;
    animation-name: wave;
    animation-iteration-count: infinite;
    transform-origin:0% 0%;
    animation-timing-function: linear;
  }

  @keyframes wave {
      10% {
        transform: rotate(110deg);
      }
      20% {
        transform: rotate(130deg);
      }
      30% {
        transform: rotate(110deg);
      }
      40% {
        transform: rotate(130deg);
      }
    }

  .left-hand {
    top: 0%;
    left: 75%;
    background:gray;
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 30% 120%;
    transform: rotate(-45deg);
    z-index: -1;
    -webkit-border-radius: 30% 30% 30% 120%;
    -moz-border-radius: 30% 30% 30% 120%;
    -ms-border-radius: 30% 30% 30% 120%;
    -o-border-radius: 30% 30% 30% 120%;
}
*/
  body {
    background:#c6faf1;
  }

  .penguin * {
    position: absolute;
  }
</style>