@import url("normalize.css");

/*
Note - all calculations are done on the basis of the radius == 100px.
The all the lengths can just be multiplied up from this
The anti-rotation of the words would be pretty simple too
vendor-prefixes, use add ons

*/

:root {
  --size: 100px;
}


.outline{
  position:relative;
  margin:auto;
  margin-top:50px;
  width:241px;
  height:235px;
  border: 1px grey solid;
  text-align:center;
}

.circle{
  border-radius: 100%;
  position:absolute;

  width: var(--size);
  height: var(--size);

  line-height:var(--size);
  transition:all 0.7s ease;
}

.circle:hover
{
        transform: scale(1.25);
}

.quote{
  top:0px;
  left: 95px;
  background: greenyellow;
}

.noise{
  top: 69px;
  left: 0px;
  background: green;
}

.mark{
  top: 69px;
  left: 190px;
  background: yellow;
}

.calc{
  top: 185px;
  left: 36px;
  background: pink;
}

.timer{
  top: 185px;
  left: 154px;
  background: darkcyan;
}
